{% extends 'base.html' %}
{% load static %}
{% block title %} Contact Us | Big Boss Awning & Canopies {% endblock %}
{% block content %}

 {% if messages %}
    {% for message in messages %}
        <div class="alert">
            {{ message }}
        </div>
    {% endfor %}
{% endif %}
<section class="contact-section">

        <div class="contact-container">
            <div class="contact-info">
                <h1>
                    Contact Us
                </h1>

                <p>
                    Have questions or want a custom canopy solution?
                    Get in touch with us for stylish,
                    durable, and reliable awning services.
                </p>

                <div class="info-box">
                    <h3>Phone</h3>
                    <p>+91 9210808293</p>
                    <p>+91 9718951285</p>
                </div>

                <div class="info-box">
                   <h3>Email</h3>
                    <p>bigbosscanopies@gmail.com</p>
                </div>

                <div class="info-box">
                    <h3>Our Main Office</h3>
                    <p>Ghaziabad, Uttar Pradesh</p>
                </div>
                <div class="info-box" style="margin-top: 25px; border-top: 1px solid #ddd; padding-top: 15px;">
                <h3>Areas We Serve</h3>
                <p style="color:rgb(224, 208, 132); line-height: 1.6; font-weight: 500;">
                    📍 Ghaziabad &nbsp;|&nbsp; 📍 Noida &nbsp;|&nbsp; 📍 Rajnagar Extension &nbsp;|&nbsp; 📍 Modinagar &nbsp;|&nbsp; 📍 Muradnagar
                </p>
            </div>
            <div class="info-box" style="margin-top: 25px; border-top: 1px solid #ddd; padding-top: 15px;"></div>
            </div>

            <div class="contact-form">
                <h2>Want to know something specific?</h2>
                <form action="" method="POST" class="form">
                    {% csrf_token %}
                    <input type="text" name="name" placeholder=" Your Name " required>
                    <input type="email" name="email" placeholder=" Your Email " required>
                    <input type="text" name="phone" placeholder=" Phone Number " required>
                    <textarea name="message" placeholder=" Tell us your requirements "></textarea>
                    <br>
                    <button type="submit">Send Inquiry</button>
                </form>
            </div>
        </div>
    </section>
    {% endblock %}