{% extends 'base.html' %}
{% load static %}
{% block title %} Home | Big Boss Awning & Canopies {% endblock %}
{% block content %}
  <section class="hero">
        <div class="hero-content">
            <h1>Premium Awning & Canopy Solutions</h1>
            <p>
                Stylish, durable, and custom-made designs
                for homes, shops, and commercial spaces.
            </p>
            <a href="https://wa.me/9210808293" class="quote-btn">Whatsapp Us</a>
        </div>
    </section>
{% endblock %}